<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Famous Stylists Hair Salon</title>
    </head>
    <body>
        <h1>Famous Stylists Hair Salon</h1>

        {% if clients is not empty %}
            <h2>All Clients</h2>
            <ul>
                {% for client in clients %}
                    <li>
                        <h4><a href="/client/{{ client.getID }}">{{ client.getName }}</a></h4>
                        <span>
                            <form action="/clients/{{ client.getID }}/edit" method="post">
                                <button type="submit">Edit Client</button>
                            </form>
                        </span>
                        <span>
                            <form action="/clients/{{ client.getID }}" method="post">
                                <input name="_method" type="hidden" value="delete">

                                <button type="submit">Delete Client</button>
                            </form>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Add A Client</h2>
        <form action='/clients' method='post'>
            <label for='name'>Client Name: </label>
            <input id='name' name='name' type='text' required>

            <label for='stylist_id'>Stylist ID: </label>
            <input id='stylist_id' name='stylist_id' type='text' required>

            <span>
                <button type='submit'>Add Client</button>
            </span>
        </form>

        <p><a href='/'>Home</a></p>
    </body>
</html>
