<html>
    <head>
        <title>Famous Stylists Hair Salon</title>
    </head>
    <body>
        <h1>Famous Stylists Hair Salon</h1>

        <h2>Client: {{ client.getName }}</h2>
        <h3>Stylist ID: {{ client.getStylistID }}</h3>

        <p><a href="/clients/{{ client.getID }}/edit">Edit This Client</a></p>
        <p><a href='/'>Home</a></p>
    </body>
</html>
