<html>
    <head>
        <title>Famous Stylists Hair Salon</title>
    </head>
    <body>
        <h1>Famous Stylists Hair Salon</h1>

        {% if clients is not empty %}
            <p>Here are all the clients at our salon:</p>
            <ul>
                {% for client in clients %}
                    <li>
                        {{ client.getName }}
                        <form action="/clients/{{ client.getID }}/edit" method="post">
                            <button type="submit">Edit Client</button>
                        </form>
                        <form action="/clients/{{ client.getID }}" method="post">
                            <input name="_method" type="hidden" value="delete">

                            <button type="submit">Delete Client</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/clients' method='post'>
            <label for='name'>Client Name: </label>
            <input id='name' name='name' type='text' required>

            <label for='stylist_id'>Stylist ID: </label>
            <input id='stylist_id' name='stylist_id' type='text' required>

            <button type='submit'>Add Client</button>
        </form>

        <p><a href='/'>Home</a></p>
    </body>
</html>
