<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Famous Stylists Hair Salon</title>
    </head>
    <body>
        <h1>Famous Stylists Hair Salon</h1>

        {% if stylists is not empty %}
            <h2>All Stylists</h2>
            <ul>
                {% for stylist in stylists %}
                    <li>
                        <a href="/stylist/{{ stylist.getID }}">{{ stylist.getName }}</a>
                        <form action="/stylists/{{ stylist.getID }}/edit" method="post">
                            <button type="submit">Edit Stylist</button>
                        </form>
                        <form action="/stylists/{{ stylist.getID }}" method="post">
                            <input name="_method" type="hidden" value="delete">

                            <button type="submit">Delete Stylist</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Add A Stylist</h2>
        <form action='/stylists' method='post'>
            <label for='name'>Stylist Name: </label>
            <input id='name' name='name' type='text' required>

            <button type='submit'>Add Stylist</button>
        </form>

        <p><a href='/'>Home</a></p>
    </body>
</html>
